# .NET Desktop
# Build and run tests for .NET Desktop or Windows classic desktop solutions.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/windows/dot-net

trigger: none

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:  
- task: NuGetToolInstaller@1
  displayName: Install Latest Nuget

- task: Bash@3
  displayName: Install MAUI
  inputs:
    targetType: 'inline'
    script: 
      dotnet workload install android ios maccatalyst tvos macos maui wasm-tools

- task: DotNetCoreCLI@2
  inputs:
    command: 'restore'
    projects: '*.sln'
  
- task: DotNetCoreCLI@2
  displayName: dotnet build
  inputs:
    projects: '$(solution)'
    arguments: '--configuration=$(buildConfiguration) /p:Platform="$(buildPlatform)"'